body,html
{
    font-family: 'Proza Libre', sans-serif, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding:0;
    height: 100%;
}

h1,h2,h3,h4,h5
{
    font-family: 'Cormorant Garamond', serif, Arial, Helvetica, sans-serif;
}

.page
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title
{
    background-color: #44A1A0;
    color: white;
    margin: 0px;
    font-weight: 700;
    font-size: 45px;
}

.content
{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100%;
    margin-top: 0px;
    padding-top:0px;
    border:none;
}

.list-menu
{
    background-color: #3e4444;
    color: #fff;
}

.task-items-container
{
    background-color:#deeaee;
    margin-top: 0px;
    padding-top:0px;
}

.list-object
{
    background-color: #151616;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
}

.list-object:hover{
    cursor: pointer;
    background-color: #878888;
    color: black;
    transform: scale(1.05);
}

.task-container
{
    text-align: left;
    padding:5px;
    margin: 15px;
    padding-left: 35px;
}

.collapsible-task-button
{
    background-color: #eee;
    color: #444;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    border: none;
    padding: 15px;
}

.collapsible-task-button:after
{
    content: '\02795'; /*unicode for plus(+) sign*/
    font-size: 13px;
    float: right;
    margin-left: 5px;
    color: black;
}

.active, .collapsible-task-button:hover {
    background-color: #ccc;
}

.active:after{
    content: "\2796"; /* Unicode for "minus" sign (-) */
    color: black;
}

.task-item-details
{
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.open-menu-span
{
    display: none;
    font-size: x-large;
    cursor: pointer;
    background-color: #3e4444;
    padding:6px;
    padding-top:10px;
    height: 5vh;
}

.closebtn{
    display:none;
}

.block{
    display: block;
}

.hidden{
display: none;
}

@media only screen and (max-width: 600px) {
    .content{
        grid-template-columns: 100%;
        grid-template-rows: 7% 93%;
        transition:1s ease-in;
    }
    .list-menu {
      display: none;
    }

    .closebtn
    {
        font-size: 40px;
        color: red;
        display:block;
        text-align: left;
        padding:10px;
        line-height: 20%;
    }
    .open-menu-span{
        text-align: left;
        display: inline-block;
        height: 5vh;
        padding:6px;
        padding-top:10px;
    }
  }



